body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Lato",sans-serif;
    background: url(Images/bg2.jpg) no-repeat center center fixed; /* Add your background image here */
    background-size: 2100px;
    font-size: 0.6em;
}

body:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05); /* adjust the opacity to your liking */
  z-index: -1;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0; /* Adjusted padding */
    color: #fff;
    margin: 0;
    transition: opacity 0.5s ease-in-out;
}

.container.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
  }

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0;
    background: rgba(128, 126, 126, 0.2);
    position: fixed;
    top: 0;
}

.logo {
    display: flex;
    align-items: center;
}


.logo img {
    width: 110px;
    height: auto;
    margin-right: 1px;
}
.logo-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.logo-text span {
    font-size: 25px;
    font-weight: bold; 
    color: #fff; 
    text-decoration: none;
    margin-left: 0.5px; 
    display: block;
}
.logo-text span:first-child {
    margin-top: 0;
    margin-left: 0.5px;
    margin-bottom: 2px;
}

.logo-text span:last-child {
    margin-top: 2px;
    margin-left: 0.5px;
}


a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
 
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-left: 500px;
}

.nav-links li {
    display: inline;
}
.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    margin-left: 40px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #311432;
}
.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    position: relative; /* Needed for the underline animation */
    transition: color 0.3s, font-size 0.3s, color 0.3s;
}


.nav-links a.active {
    font-size: 16px; /* Increased font size for active link */
    color: #311432; 

}

.nav-links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px; /* Adjust as needed */
    width: 0;
    height: 2px; /* Thickness of the underline */
    background-color: #311432; /* Purple color for the underline */
    transition: width 0.8s ease-in-out;
}

.nav-links a.active::after {
    width: 100%;
    background-color: #311432; /* Purple color for the underline */
}

.Section-1 {
    margin-top: 90px;
    padding: 20px;
   
   
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.Section-1 h1 {
    text-align: left;
    margin-bottom: 16px;
    margin-left: 40px;
    font-size: 30px;
    color: #311432;
}

.Section-1 p {
    text-align: left;
    font-size: 13px;
    line-height: 1.6;
    margin-left: 40px;
    margin-bottom: 40px;
}


.cards-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

.content-wrapper {
    position: relative;
    z-index: 1;
  }

.card {
    background-color: #e1e0e6;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px auto;
    width: 350px;
    position: relative;
    transition: all 0.7s ease-in-out;
    overflow: hidden;
}

.card::before {
    content: "";
    position: absolute;
    height: 40%;
    width: 100%;
    background-color: #9966cb;
    color:#666;
    bottom: 0;
    right: 0;
    transform: translatey(70px);
    border-radius: 100%;
    transition: all 0.7s ease-in-out;
  }
  
  .card:hover::before {
    transform: scale(7) translate(-20px);
  }
  
  .card:hover {
    box-shadow: 1px -10px 100px 100px #9fe4e44a;
    color: #ffffff;
  }
  
.card h2 {
    color: #333;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
}

.card p {
    font-size: 13px;
    line-height: 1.6;
    text-align: center;
}

  @media (max-width: 768px) {
    .card p {
      width: 90%;
    }
  }



.Section-2 {
    padding: 20px;
    margin-bottom: 0px;
  
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .Section-2 h1 {
    margin-bottom: 10px;
    margin-right: 40px;
    font-size: 30px;
    text-align: right;
    color: #311432;
  }
  
  .Section-2 p {
    margin-bottom: 40px;
    margin-right: 40px;
    text-align: right;
    font-size: 13px;
    line-height: 1.5;
  }
  
  .Section-2.cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  .content-wrapper {
    position: relative;
    z-index: 1;
    margin-left: 40px;
  }

  .Section-2.card {
    margin: 20px;
    width: calc(33.33% - 20px);
    background-color: #e1e0e6;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 10px auto;
    width: 300px;
    position: relative;
    transition: all 0.7s ease-in-out;
    overflow: hidden;
  }
  .Section-2.card::before {
    content: "";
    position: absolute;
    height: 40%;
    width: 100%;
    background-color: #836af1;
    color:#666;
    bottom: 0;
    right: 0;
    transform: translatey(70px);
    border-radius: 100%;
    transition: all 0.7s ease-in-out;
  }

  
  .Section-2.card:hover::before {
    transform: scale(7) translate(-20px);
  }

  .Section-2.card:hover {
    box-shadow: 1px -10px 100px 100px #9fe4e44a;
    color: #ffffff;
  }
  
  .Section-2.card h2 {
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  .Section-2.card p {
    text-align: center;
    color: #666;
    font-size: 13px;
    line-height: 1.6;
  }

  .card-number {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #9966cb;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
 .card-number span {
    font-weight: bold;
    font-size: 18px;
    color: #fff;
  }

  .quote-section {
    padding: 60px 20px;
   /* background: url(Images/SKY.jpg); */
   background-color: #9966cb;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

.quote-section blockquote {
    font-size: 50px;
    font-weight: bold;
    color: #e0e0e0;
   
    margin: 0;
    line-height: 1.4;
}

@media (max-width: 768px) {
    .quote-section blockquote {
        font-size: 24px;
    }
}


.Section-3 {
    padding: 40px 20px;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.Section-3 h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
}

.Section-3 p {
    text-align: center;
    font-size: 13px;
    line-height: 1.6;
    margin-bottom: 50px;
}

.steps-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: 2fr;
  gap: 40x;
}

.line {
  position: absolute;
  top: 5px;
  width: 100%;
  height: 2px;
  background-color: #e0e0e0;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  width: 80%;
  max-width: 400px;
  margin-left: 20px;
}

.step-number {
  position: absolute;
  top: 50%;

  width: 50px;
  height: 50px;
  background-color: #9966cb;
  color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
  font-size: 18px;
}

.step-content {
  min-height: 200px; /* Adjust this value as needed */

  text-align: center;
  padding: 20px;
}

.step-content h2 {
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  margin-bottom: 5px;
  font-size: 20px;
}

.step-content p {
  text-align: center;
  color: #666;
  font-size: 13px;
  line-height: 1.6;
}

/* Arrange steps horizontally on larger screens */
@media (min-width: 768px) {
  .steps-container {
      flex-direction: row;
      justify-content: space-around;
  }
  .step {
      margin-bottom: 0;
  }
  .step-number {
      top: 0;
      transform: translateY(-50%);
  }
  .step-content {
      margin-top: 0px;
  }
}


/* Responsive design */
@media (max-width: 768px) {
  .step-content {
      text-align: center;
  }
}

.animate:after {
    animation: triggerAnimation 0.8s ease-in-out forwards;
  }

  
.Section-4 {
  padding: 40px 20px;
  background-color: #fef3ff;
  text-align: left;
  margin-top: 150px;
  border-top: 1px solid #311432;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.contact-left {
  flex: 1;
  max-width: 300px;
  margin-right: 140px;
}

.contact-left h1 {
  font-size: 24px;
  color: #311432;
  margin-bottom: 10px;
}

.contact-left p {
  font-size: 16px;
  color: #555555;
  line-height: 1.6;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  margin-right: 10px;
  font-size: 20px;
  color: #836af1;
  text-decoration: none;
}

.contact-right {
  flex: 2;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contact-right div {
  flex: 1;
  margin-left: 20px;
}

.contact-right h2 {
  font-size: 18px;
  color: #311432;
  margin-bottom: 10px;
}

.contact-right ul {
  list-style: none;
  padding: 0;
}

.contact-right ul li {
  margin-bottom: 10px;
}

.contact-right ul li a {
  font-size: 16px;
  color: #555555;
  text-decoration: none;
}

.contact-right ul li a:hover {
  text-decoration: underline;
}

.footer {
  text-align: center;
  border-top: 1px solid #e0e0e0;
  padding-top: 30px;
}

.footer p {
  font-size: 14px;
  color: #555555;
}

@media (max-width: 768px) {
  .contact-container {
      flex-direction: column;
      align-items: center;
  }

  .contact-right {
      flex-direction: column;
      align-items: center;
  }

  .contact-right div {
      margin-left: 0;
      margin-bottom: 20px;
  }

  .contact-left {
      text-align: center;
  }
}